body{
    font-size: 14px;
    font-style: normal;
    background-color: aliceblue;


    margin:20px;


    padding:30px;
    color:aqua;
<<<<<<< HEAD
    text-align: end;
=======
    text-align: center;
>>>>>>> test-3
}